.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding:10px; */
}

.app_navbar {
  width: 100%;
  /* padding: 20px 30px; */
  /* margin-bottom: 25px; */
}

.app_navbar_top {
  padding: 20px 10px 10px;
}

.board_cards {
  padding: 0px 20px 10px;
  background-color: lightgray;
  margin: 0px !important;
  width: 100% !important;
  height: 250vh;
}